Repository pmnhat17ck1/ExpressTS: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, prettier, eslint --fix, prettier --write

fix v1.3
  .env.development
  .swcrc
  src/controllers/auth.controller.ts
  src/dtos/account.dto.ts
  src/dtos/users.dto.ts
  src/exceptions/HttpException.ts
  src/middlewares/auth.middleware.ts
  src/middlewares/error.middleware.ts
  src/middlewares/validation.middleware.ts
  src/middlewares/verify.middleware.ts
  src/routes/auth.route.ts
  src/seeders/20230226094955-default-country.js
  src/seeders/20230226095532-default-role.js
  src/seeders/20230226104852-default-admin.js
  src/seeders/20230308143538-default-permission.js
  src/seeders/20230310132626-default-function.js
  src/seeders/20230310162330-default-payment-method.js
  src/services/email.service.ts
  src/services/index.ts
  src/services/upload.service.ts
  src/utils/common.util.ts
  src/utils/email.util.ts
  src/utils/index.ts
  src/utils/jwt.util.ts
  src/utils/logger.ts
  src/utils/upload.util.ts
  src/utils/util.ts
  tsconfig.json
Due: yarn lint:fix, prettier, eslint --fix, prettier --write

convert to class
  src/app.ts
  src/controllers/address.controller.ts
  src/controllers/auth.controller.ts
  src/controllers/comment.controller.ts
  src/controllers/like.controller.ts
  src/controllers/rate.controller.ts
  src/controllers/todo.controller.ts
  src/routes/auth.route.ts
  src/routes/index.ts
  src/routes/todo.route.ts
Due: yarn lint:fix, prettier, eslint --fix, prettier --write

fix bug
  src/controllers/account.controller.ts
  src/controllers/address.controller.ts
  src/controllers/auth.controller.ts
  src/controllers/card.controller.ts
  src/controllers/country.controller.ts
  src/controllers/notification.controller.ts
  src/controllers/profile.controller.ts
  src/controllers/todo.controller.ts
  src/dtos/account.dto.ts
  src/dtos/card.dto.ts
  src/middlewares/auth.middleware.ts
  src/models/account-function-permission.model.ts
  src/models/account.model.ts
  src/models/address.model.ts
  src/models/card.model.ts
  src/models/comment.model.ts
  src/models/image.model.ts
  src/models/like.model.ts
  src/models/notification.model.ts
  src/models/order-detail.model.ts
  src/models/order.model.ts
  src/models/permission-request.model.ts
  src/models/product.model.ts
  src/models/profile.model.ts
  src/models/rate.model.ts
  src/models/social-account.model.ts
  src/models/social-application.model.ts
  src/models/todo.model.ts
  src/models/token.model.ts
  src/models/transaction.model.ts
  src/models/wallet.model.ts
  src/routes/account.route.ts
  src/routes/index.ts
  src/seeders/20230226104852-default-admin.js
Due: yarn lint:fix, prettier, eslint --fix, prettier --write

refactor code
  src/app.ts
  src/controllers/account.controller.ts
  src/controllers/address.controller.ts
  src/controllers/auth.controller.ts
  src/controllers/card.controller.ts
  src/controllers/comment.controller.ts
  src/controllers/country.controller.ts
  src/controllers/like.controller.ts
  src/controllers/notification.controller.ts
  src/controllers/profile.controller.ts
  src/controllers/rate.controller.ts
  src/controllers/social-account.controller.ts
  src/controllers/todo.controller.ts
  src/routes/account.route.ts
  src/utils/common.util.ts
  src/utils/response.util.ts
Due: yarn lint:fix, prettier, eslint --fix, prettier --write

add dto interface
  src/controllers/account.controller.ts
  src/controllers/address.controller.ts
  src/controllers/auth.controller.ts
  src/controllers/card.controller.ts
  src/controllers/comment.controller.ts
  src/controllers/country.controller.ts
  src/controllers/like.controller.ts
  src/controllers/notification.controller.ts
  src/controllers/profile.controller.ts
  src/controllers/rate.controller.ts
  src/controllers/todo.controller.ts
  src/dtos/account.dto.ts
  src/dtos/address.dto.ts
  src/dtos/card.dto.ts
  src/dtos/comment.dto.ts
  src/dtos/country.dto.ts
  src/dtos/like.dto.ts
  src/dtos/notification.dto.ts
  src/dtos/profile.dto.ts
  src/dtos/rate.dto.ts
  src/dtos/todo.dto.ts
  src/interfaces/account-country.interface.ts
  src/interfaces/account-role.interface.ts
  src/interfaces/address.interface.ts
  src/interfaces/card.interface.ts
  src/interfaces/comment.interface.ts
  src/interfaces/like.interface.ts
  src/interfaces/notification.interface.ts
  src/interfaces/product.interface.ts
  src/interfaces/rate.interface.ts
  src/interfaces/wallet.interface.ts
  src/models/rate.model.ts
  src/models/wallet.model.ts
  src/services/systems/email.service.ts
  src/services/systems/index.ts
  src/services/systems/upload.service.ts
Due: yarn lint:fix, prettier, eslint --fix, prettier --write

add service
  .env.development
  package.json
  src/app.ts
  src/controllers/account.controller.ts
  src/controllers/auth.controller.ts
  src/dtos/account.dto.ts
  src/models/account.model.ts
  src/models/forgot-password.model.ts
  src/models/index.ts
  src/routes/account.route.ts
  src/services/systems/email.service.ts
  src/services/systems/index.ts
  src/services/systems/postgres.service.ts
  src/services/systems/pusher.service.ts
  src/services/systems/redis.service.ts
  src/services/systems/upload.service.ts
  src/utils/common.util.ts
  src/utils/jwt.util.ts
  yarn.lock
Due: yarn lint:fix, prettier, eslint --fix, prettier --write

fix docker
  Dockerfile
  Makefile
  docker-compose.yml
  docker-entrypoint.sh
  ecosystem.config.js
  jest.config.js
  nginx.conf
  package.json
  src/.DS_Store
  yarn.lock
Due: yarn lint:fix, prettier

set up docker success but nginx it not
  .env.development
  docker-compose.yml
  docker-entrypoint.sh
  nginx.conf
  src/services/systems/postgres.service.ts
Due: yarn lint:fix, prettier, eslint --fix, prettier --write

fix nginx
  .eslintrc
  .huskyrc
  .lintstagedrc
  docker-compose.yml
  nginx.conf
  package.json
Due: none

fix
  .huskyrc
  package.json
Due: none

fix
  .huskyrc
Due: none

fix husky
  .huskyrc
Due: none

fix
  package.json
Due: none

fix
  .huskyrc
  .lintstagedrc.json
Due: none

fix
  .huskyrc
  .lintstagedrc.json
  package.json
  yarn.lock
Due: none

chore: fix seed
  .env.production
  docker-compose.yml
  package.json
  src/config/config.js
  yarn.lock
Due: yarn lint:fix, prettier, eslint --fix, prettier --write

fix
  .env.production
Due: none

fix api
  package.json
  src/config/config.js
  src/controllers/social-account.controller.ts
Due: yarn lint:fix, prettier, eslint --fix, prettier --write

repair model and chore fix
  .env.development
  package.json
  src/config/config.js
  src/interfaces/social-account.interface.ts
  src/interfaces/social-application.interface.ts
  src/models/social-account.model.ts
  src/models/social-application.model.ts
  yarn.lock
Due: yarn lint:fix, prettier, eslint --fix, prettier --write

refactor
  .env.development
  src/config/config.js
  src/controllers/auth.controller.ts
  src/dtos/account.dto.ts
  src/services/apis/account.service.ts
  src/services/apis/auth.service.ts
  src/services/apis/index.service.ts
  src/tests/account.test.ts
  src/tests/auth.test.ts
Due: yarn lint:fix, prettier, eslint --fix, prettier --write

refactor
  .husky/pre-commit
  package.json
  src/app.ts
  src/controllers/auth.controller.ts
  src/index.ts
  src/models/account.model.ts
  src/models/index.ts
  src/routes/index.ts
  src/services/apis/auth.service.ts
  src/services/apis/index.service.ts
  src/services/systems/email.service.ts
  src/services/systems/postgres.service.ts
  src/tests/auth.test.ts
  src/utils/response.util.ts
Due: yarn lint:fix, prettier, eslint --fix, prettier --write

chore fix
  package.json
Due: none

chore fix
  package.json
  src/controllers/social-account.controller.ts
  tsconfig.json
Due: yarn lint:fix, prettier, eslint --fix, prettier --write

chore fix
  jest.config.js
  package.json
  src/app.ts
  src/controllers/auth.controller.ts
  src/index.ts
  src/models/index.ts
  src/models/social-account.model.ts
  src/services/apis/auth.service.ts
  src/tests/account.test.ts
  src/tests/auth.test.ts
  src/types/index.ts
  src/utils/response.util.ts
  yarn.lock
Due: yarn lint:fix, prettier, eslint --fix, prettier --write

add logout test
  src/controllers/account.controller.ts
  src/dtos/account.dto.ts
  src/routes/account.route.ts
  src/services/apis/account.service.ts
  src/services/apis/index.service.ts
  src/tests/account.test.ts
Due: yarn lint:fix, prettier, eslint --fix, prettier --write

Delete .env.development
  .env.development
Due: none

Delete .env.production
  .env.production
Due: none

Path conditions:
  yarn lint:fix: (any of: *.ts) or (any of: *.js)
  prettier: (any of: *.ts) or (any of: *.js)
  eslint --fix: ((any of: *.ts) or (any of: src/**/*.js)) or (any of: src/**/*.ts)
  prettier --write: ((any of: *.ts) or (any of: src/**/*.js)) or (any of: src/**/*.ts)
